body {
  position: relative; /* Ensure positioning for the overlay */
  background: url('https://arjunsinghvadehra.github.io/assets/Images/Capture.JPG') no-repeat center center fixed !important;
  background-size: cover !important;
  margin: 0;
  height: 100vh; /* Ensure the background covers the viewport */
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the opacity for dimming */
  pointer-events: none;
  z-index: 1; /* Ensure it overlays the background */
}
